<!DOCTYPE html>
<html>
<head>
    <title>Tech Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
    {{!-- jquery links --}}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="pure-u-1 pure-u-md-1-1">
            <p class="nav" id="homePage">homepage</p>
            <p class="nav" id="userDashBoard">Dashboard</p>
            <p class="nav" id="logIn">log In</p> <!-- these might be combined into one option the can change depending on if someone is logged in or not-->
            <p class="nav">log Out</p>
        <h1>Tech Dashboard</h1> 
    </header>
    <section>
        {{{ body }}}
    </section>
</body>
 <script src="./js/index.js"></script>
</html>