<!DOCTYPE html>
<html>
<head>
    <title>Tech Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
            <p class="nav">homepage</p>
            <p class="nav">Dashboard</p>
            <p class="nav">log In</p> <!-- these might be combined into one option the can change depending on if someone is logged in or not-->
            <p class="nav">log Out</p>
        <h1>Tech Dashboard</h1> 
    </header>
    <section>
        {{{ body }}}
    </section>
</body>
</html>