{{!-- users names will put in the users username when the user logs in --}}
<h1 class="userDashboard">{{user.user_name}}'s Dashboard</h1> 
         {{#each user as |user|}}
         <div class="postBlock pure-u-20-24 pure-u-md-20-24">
            <h2>{{user.post_title}}</h2>
            <p class="postdata">posted on {{user.posted_on}}</p>
        </div>
{{/each}}
    <div class="postButton" id="post"> + New Post </div>
  
<script src="./js/dashboard.js"></script>