{{!-- users names will put in the users username when the user logs in --}}
<h1 class="userDashboard">UserName's Dashboard</h1> 
{{!-- this area will have users post --}}
        <div class="postBlock">
            <h2>The title will go here.</h2>
            <p class="postdata">posted by <strong>Wowtech</strong> on 05/24/2021</p>
        </div>
        <div class="postBlock">
            <h2>The title will go here.</h2>
            <p class="postdata">posted by <strong>Wowtech</strong> on 05/24/2021</p>
        </div>
    <div class="postButton" id="post"> + New Post </div>
    
<script src="./js/dashboard.js"></script>