<div class="pure-u-20-24 pure-u-md-20-24">
    <div class="titleBlock"><!-- blue line at the top--></div>
            <input placeholder="Post Title"></input>
            <textarea type="text"></textarea>
            <div class="postButton"> Update Post </div>
            <div class="postButton"> Delete Post </div>
        </div>