        <div class="pure-u-20-24 pure-u-md-20-24">
            <div class="titleBlock">
            <h2>The title will go here.</h2>
            <p class="postdata">posted by <strong>Wowtech</strong> on 05/24/2021</p></div>
            <p> this is the content of the post it has a lot of interesting info</p>
        </div>