<div>
    <div class="titleBlock">
        <h2>Log In</h2>
        </div>
        <form>
        <input class="username signin" type="text" placeholder="Username"></input>
        <input class="password signin" type="text" placeholder="Password"></input>
        <div class="postButton"> Log In </div>
        </form>
    <p class="changemode" id="signUp">Not registered yet? Sign Up</p>
</div>
<script src="./js/login.js"></script>