<div class="pure-u-20-24 pure-u-md-20-24">
    <div class="titleBlock">
        <h2>Log In</h2>
        </div>
        <form class="login-form">
        <input class="email signin" type="text" placeholder="email"></input>
        <input class="password signin" type="password" placeholder="Password"></input>
        <div class="postButton"> Log In </div>
        </form>
    <p class="changemode" id="signUp">Not registered yet? Sign Up</p>
</div>
<script src="./js/login.js"></script>