<div class="pure-u-20-24 pure-u-md-20-24">
    <div class="titleBlock">
        <h2>Log In</h2>
        </div>
        <form class="login-form">
        <input class="email signin" id="email" type="text" placeholder="email" autocomplete="off"></input>
        <input class="password signin" id="password" type="password" placeholder="Password" autocomplete="off"></input>
        <button class="postButton"> Log In </button>
        </form>
    <p class="changemode" id="signUp">Not registered yet? Sign Up</p>
</div>
<script src="/js/login.js"></script>