<div>
    <div class="titleBlock">
        <h2>Log In</h2>
        </div>
        <input class="username signin" type="text" placeholder="Username"></input>
        <input class="password signin" type="text" placeholder="Password"></input>
        <p class="changemode" id="signUp" >Sign Up</p>
    <div class="postButton"> Log In </div>
</div>
<script src="./js/login.js"></script>