<div class="pure-u-20-24 pure-u-md-20-24">
    <div class="titleBlock"><!-- this is the blue strip at the top--></div> 
    <form class="newPost">
    <input placeholder="Post Title" id="title"></input>
    <textarea type="text" id="content"></textarea>
    <button class="postButton"> Post </button>
    </form>
</div>
<script src="/js/newpost.js"></script>