<div class="pure-u-20-24 pure-u-md-20-24">
    <div class="titleBlock">
    </div>
    <input placeholder="Post Title"></input>
    <textarea type="text"></textarea>
    <div class="postButton"> Post </div>
</div>