 <div>
    <div class="titleBlock">
        <h2>Sign Up</h2>
    </div>
        <input class="username signin" type="text" placeholder="Username"></input>
        <input class="email signin" type="text" placeholder="Email"></input>
        <input class="password signin" type="text" placeholder="Password"></input>
        <div class="postButton"> Sign Up </div>
</div>