 <div>
    <div class="titleBlock">
        <h2>Sign Up</h2>
    </div>
     <form class="signup-form">
         <input class="email signin" id="email" type="text" placeholder="Email"></input>
        <input class="username signin" id="userName" type="text" placeholder="Username"></input>
        <input class="password signin" id="password" type="password" placeholder="Password"></input>
        <button class="postButton" id="signupbtn"> Sign Up </button>
        </form>
        <p class="changemode" id="Login"> Already signed up? Log in</p>
</div>
 <script src="./js/signup.js"></script>