/* I want to change stuff to these colours at some point */
:root {
    --silver: #c6c5b9;
    --steelTeal: #62929e;
    --cadet: #4a6d7c;
    --olive7: #393a10;
    --darkslate: #475657;
}

/* stuff on every page */

body {
    width: 100%;
    background-color: rgb(210, 233, 255);
}

header {
    background-color: teal;
    padding: 15px; 
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    display: inline;
    padding: 15px;
    color: white;
    font-size: 18px;
}

.nav:hover {
    background-color: white;
    color: teal;
}

h1 {
    color: white;
    font-size: 40px;
    padding-left: 10px;
}

section {
    width: 100%;
    margin-top: 170px;
    text-align: center;
}

/* stuff in the section */

.pure-u-20-24 {
    text-align: left;
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: teal solid 2px;
}

.titleBlock {
    background-color: teal;
    width: 100%;
    padding: 10px 0;
    color: white;
} 

h2 {
    display: inline;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    h2{
        display: block;
        margin: 0;
    }
  }

.postdata {
    display: inline;
    text-align: right;
}

p {
    padding-left: 10px;
}

/* adding a comment to a post */
textarea {
    width: 70%;
    height: 80px;
    margin: 10px 15%; 
  }
  
.postButton {
    background-color: teal;
    width: 30%;
    padding: 10px 0;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    margin: 5px 35%;
    border: teal solid 2px;
  } 

.postButton:hover {
    background-color: white;
    color: teal;
}

.signin {
    width: 60%;
    margin: 15px 20%; 
    height: 30px;
}

input {
    width: 70%;
    margin: 15px 15%; 
    height: 30px;
}
.postBlock {
    background-color: white;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 18px;
    color: white;
    background-color: teal;
    padding: 10px 0;
    height: auto;
}

.userDashboard {
    color: teal;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 8%;
}

