<!DOCTYPE html>
<html>
<head>
    <title>Tech Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- this is stuff at the top of the page I don't think it will not change much page to page -->
    <header>
            <p class="nav">homepage</p>
            <p class="nav">Dashboard</p>
            <p class="nav">log In</p> <!-- these might be combined into one option the can change depending on if someone is logged in or not-->
            <p class="nav">log Out</p>
        <h1>Tech Dashboard</h1> <!-- This will likely change based on page the user is on -->
    </header>
    <!-- This section is where stuff will change --> 
    <!-- I will turn the stuff under here into Handlebars files as I need them -->
    <section>
        {{{body}}}
         </section>
</body>
</html>